

h1 {
  text-align: center;
}

.marker {
  height: 25px;
  width: 200px;
  margin: 0 auto 10px;
}

.one {
  /*background-color: rgb(255, 0, 0);*/
  background-color: #FF0000;
}
.two {
  /*background-color: rgb(0, 127, 0);*/
  background-color: #007F00;
}
.three {
  /*background-color: rgb(0, 0, 255);*/
  background-color: #0000FF;
}
