

h1 {
  text-align: center;
}

.marker {
  height: 25px;
  width: 200px;
  margin: 0 auto 10px;
}

.one {
  /*background-color: rgb(255, 0, 0);*/
  background: linear-gradient(180deg, rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
}
.two {
  /*background-color: rgb(0, 127, 0);*/
  background: linear-gradient(180deg, #55680D, #71F53E, #116C31);
}
.three {
  /*background-color: rgb(0, 0, 255);*/
  background: linear-gradient(180deg, hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}

.sleeve {
  background-color: rgba(255, 255, 255, 0.5);
  height: 25px;
  width: 110px;
  display: inline-block;
  /*Opacity can be added to the color property*/
  opacity: 0.5;
}
.cap {
  width: 90px;
  height: 25px;
  display: inline-block;
}
